@media screen and (max-width: 767px) {
  .header {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
    z-index: 100;
    padding: 20px;
  }

  .header__center {
    display: flex;
    flex: 1;
    align-items: center;
    max-width: fit-content;
    padding: 10px;
    height: 30px;
    border: 1px solid lightgrey;
    border-radius: 1.5rem;
  }

  .header__center input {
    border: none;
    /* width: 250px; */
    padding: 10px;
    outline-width: 0;
  }

  .header__right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px;
    width: 250px;
  }
  .header__icon {
    object-fit: contain;
    height: 100px;
    margin-left: 20px;
    cursor: pointer;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: white;
    z-index: 100;

    padding: 20px;
  }

  .header__center {
    display: flex;
    flex: 1;
    align-items: center;
    max-width: fit-content;
    padding: 10px;
    height: 30px;
    border: 1px solid lightgrey;
    border-radius: 1.5rem;
  }

  .header__center input {
    border: none;
    /* width: 250px; */
    padding: 10px;
    outline-width: 0;
  }

  .header__right {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 250px;
  }
  .header__icon {
    object-fit: contain;
    height: 100px;
    margin-left: 20px;
    cursor: pointer;
  }
}
@media screen and (min-width: 1024px) {
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: white;
    z-index: 100;

    padding: 20px;
  }

  .header__center {
    display: flex;
    flex: 1;
    align-items: center;
    max-width: fit-content;
    padding: 10px;
    height: 30px;
    border: 1px solid lightgrey;
    border-radius: 1.5rem;
  }

  .header__center input {
    border: none;
    /* width: 250px; */
    padding: 10px;
    outline-width: 0;
  }

  .header__right {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 250px;
  }
  .header__icon {
    object-fit: contain;
    height: 100px;
    margin-left: 20px;
    cursor: pointer;
  }
}
